/*
 * Component: Dropdown menus
 * -------------------------
 */

// General Dropdown Rules
.dropdown-item {
  &:first-of-type {
    @include border-top-radius($border-radius);
  }
  &:last-of-type {
    @include border-bottom-radius($border-radius);
  }
}

.dropdown-item-title {
  font-size: $font-size-base;
  margin: 0;
}

// Dropdown Sizes
.dropdown-menu-lg {
  min-width: 280px;
  max-width: 300px;
  padding: 0;
  .dropdown-divider {
    margin: 0;
  }
  .dropdown-item {
    padding: $dropdown-padding-y $dropdown-item-padding-x;
  }
  p {
    white-space: normal;
    margin: 0;
  }
}

// Dropdown header and footer
.dropdown-footer,
.dropdown-header {
  text-align: center;
  display: block;
  padding: .5rem $dropdown-item-padding-x;
  font-size: $font-size-sm;
}

.dropdown-header {
  &:hover {
    background-color: #fff;
    color: $gray-200;
  }
}

/* Fix dropdown menu in navbars */
.navbar-custom-menu > .navbar-nav {
  > li {
    position: relative;
    > .dropdown-menu {
      position: absolute;
      right: 0;
      left: auto;
    }
  }
}

// Dropdown with arrow
.dropdown-arrow::after {
  content: "";
  border-width: 11px;
}

.dropdown-arrow::before {
  content: "";
  border-width: 11px;
}

.dropdown-arrow::after, 
.dropdown-arrow::before {
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
}

// Open state for the dropdown
.show {
  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

.dropdown-menu.show {
  display: block;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .navbar-custom-menu > .navbar-nav {
    float: right;
    > li {
      position: static;
      > .dropdown-menu {
        position: absolute;
        right: 5%;
        left: auto;
        border: 1px solid #ddd;
        background: #fff;
      }
    }
  }
}